<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/all.css">
    <title>
        Dashboard | Spirit'23
    </title>
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand fw-bold" href="#" style="text-transform: uppercase;">Dashboard</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" target="_blank" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#payment">Payment</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active text-danger fw-bold" href="/logout">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="card text-center dash_card">

            <div class="card-header" style="text-transform: uppercase;">
                <div class="alert alert-light" role="alert" id="payment">
                    <h3 class="text-center dash_head">
                        <%= data.name %>
                            <%= data.lname %>
                    </h3>
                </div>

            </div>

            <div class="card-body">
                <!-- alert box -->
                <div class="alert alert-warning alert-dismissible fade show text-center" role="alert">
                    <p class="mb-0"><span style="font-weight: bold;">!Important</span> You can only register for a
                        maximum of three events.
                        If in case there are more,<span style="font-weight: bold;"> top three will be considered. </span></p>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                <!--  -->
                <table class="table table-sm">
                    <thead>
                        <tr>
                            <th scope="col">No.</th>
                            <th scope="col">Enrolled events</th>
                            <th scope="col">Main</th>

                        </tr>
                    </thead>
                    <tbody>
                        <% var i=1 %>
                            <% val.forEach((item)=>{ %>
                                <tr>
                                    <th scope="row">
                                        <%= i++ %>
                                    </th>
                                    <td>
                                        <%= item.subevent %>
                                    </td>
                                    <td>
                                        <%= item.event_name %>
                                    </td>
                                </tr>
                                <% }) %>
                    </tbody>
                </table>
            </div>
            <div class="card-footer text-muted">

            </div>
        </div>



        <div class="card text-center dash_card">
            <div class="alert alert-light" role="alert" id="payment">
                <h3 class="text-center dash_head">Payment</h3>
            </div>
            <div class="card-body">
                <h1 class="card-title">The payment portal is <span style="color:green">live now</span>!</h1>
                <h5 class="alert alert-danger card-text">You need to buy the Spirit Events Ticket to Register and
                    Participate in all events.</h5>
                <div class="alert alert-success" role="alert">

                    <p>Wait A While if you have already bought the Events ticket. It should be confirmed from our end
                        within a day!</p>
                    <hr>
                    <p class="mb-0"><span style="font-weight: bold;">!Important</span> Provide the same email Id during
                        paymet as it was at the time of registration.</p>
                </div>
                <a href="/payments" class="btn btn-success">Buy Ticket</a>
            </div>

        </div>
    </div>

    <style>
        .dash_card {
            box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
            margin: 10px 2px;
        }
    </style>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
    <script src="/js/all.js"></script>
</body>

</html>